:root{
    color: white;
    --line_color : #555555 ;
    --back_color : #FFECF6  ;
    overflow-x: hidden;

}


img{
    height: 5rem;
    width: 5rem;
    padding: 5rem;

}

body{
    background-color:  #101820;
}

h1{
    color: #FBEAEB;
    margin-top: 2.5rem;
}
.home{
    text-align: center;
    justify-content: center;
    height: 100vh;

}

.href{
    text-decoration: none;
    color: #FEE715;
}
.footer {
    text-align: center;
    font-size: 0.85rem;
}

h2{
    margin-top: 20%;
}

.crypto-search-div{
    justify-content: center;
    display: grid;
}

.submit-button{
    z-index : 0 ;
    width : 300px ;
    margin-top: 1rem;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ;
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
input{
    height : 50px ;
    font-size:1.5rem;
    text-decoration : none ;
    font-weight : bold;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;

}
